<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nada.css">
    <title>Inicio - Deuda Cero</title>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Dosis:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    
    <h1>Deuda Cero</h1>
    <h2>¡Registrate, Crea grupos, Invita a tus amigos y comiencen juntos a gestionar sus balances de manera fácil y rápida!</h2>
    <p>Alguna vez te ha pasado que pagas algo por tus amigos, prestas dinero y al final no sabes quien te dene dinero ni cuanto?.</p>
    <h3>¡Deuda cero es la solucion!.</h3>
    <p>Crea grupos en personalizados en los cuales tu y los miembros invitados podran registrar movimientos, especificando quien paga, quienes son los participantes
    y con cuanto dinero participa cada uno, teniendo así un control financiero entre amigos o familiares.</p>
    
    <footer>
        &copy; 2026 Creado por aldo ruiz gracias a amigos que no pagan :D

        <ul>
            <li> <a href="../html/registro.html">Registrate aquí</a> </li>
            <li> <a href="../html/login.html">Inicia sesion</a> </li>
            <li> <a href="../html/contacto.html">Contacto</a> </li>
        </ul>
    </footer>

</body>
</html>